// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// @font-face {
//     font-family: "Poppins";
//     src: local("Poppins"),
//     url(~assets/poppins/Oxygen-Regular.ttf) format("truetype");
// }

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(~assets/fonts/poppins/Poppins-Regular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "DM Mono";
    src: local("DM Mono"), url(~assets/fonts/dm-mono/DMMono-Medium.ttf) format("truetype");
}

.caption {
    font-family: "DM Mono", arial, helvetica, sans-serif;
}

html {
    font-family: "Poppins";
}
$body-font-family: Poppins;

.theme--dark.v-application {
    .unicon svg {
        fill: #fff;
    }
}

$text-highlight: #fefefe;
$white: #ffffff;
$black: #121212;
$body-font-family: "Poppins", sans-serif;
// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
    "small": 20,
);
$btn-sizes: (
    "default": 41,
    "large": 54,
);

$headings: (
    "h1": (
        "size": 3.3125rem,
        "line-height": 1.15em,
    ),
    "h2": (
        "size": 2.25rem,
        "line-height": 1.5em,
    ),
);

@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    opacity: $opacity;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
@mixin box-shadow($string) {
    -webkit-box-shadow: $string;
    -moz-box-shadow: $string;
    box-shadow: $string;
}
@mixin text-shadow($string) {
    -webkit-text-shadow: $string;
    -moz-text-shadow: $string;
    text-shadow: $string;
}
@mixin transition($duration) {
    -webkit-transition: all $duration ease;
    -moz-transition: all $duration ease;
    -o-transition: all $duration ease;
    transition: all $duration ease;
}
@mixin animated($duration) {
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
